:root {
  color-scheme: light dark;
  --red: #f44336;
  --blue: #2196f3;
  --theme-color: var(--red);
  --main-color: #fff;
  --bg-color: #000;
}
input, select, i, svg, #title, #nav-location, .inc {
  color: var(--theme-color);
}
* {
  border-radius: 0;
  box-sizing: border-box;
  line-height: 1.5 !important;
  outline: none;
}
html {
  background: var(--bg-color);
  color: var(--main-color);
  font-family: monospace;
  font-size: 24px;
  margin: auto;
  max-width: 720px;
  padding: 16px;
}
h1 {
  font-size: 24px;
  margin: 0;
}
button {
  background: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
button:active {
  opacity: 0.4;
}
input, select {
  appearance: none;
  background: var(--bg-color);
  border: none;
  display: block;
  padding: 8px;
  width: 100%;
}
select {
  cursor: pointer;
}
svg {
  height: 24px;
  vertical-align: -.125em;
}

.flex {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
}
.column {
  align-items: flex-start;
  flex-direction: column;
}
.bordered > * {
  border-bottom: 1px solid var(--main-color);
}
.spaced > * {
  margin: 8px;
}
.hide {
  display: none !important;
}
.show {
  display: flex !important;
}
.red {
  color: var(--red);
}
.blue {
  color: var(--blue);
}
.star {
  padding: 8px;
}
.group {
  padding-top: 8px;
}
.inc {
  text-align: left;
}

#logo {
  height: 32px;
}
#nav-location {
  margin-left: auto;
}
#menu-toggle {
  margin: 0 !important;
}
#menu {
  display: none;
}
#metric-team, #metric-match {
  width: 100px;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #000;
    --bg-color: #fff;
  }
}
@media (max-width: 400px) {
  #title {
    display: none;
  }
}