:root {
  --bg-color: #000;
  --blue: #2196f3;
  --fg-color: rgba(127, 127, 127, 0.2);
  --red: #f44336;
  --text-color: #fff;
  --theme-color: var(--red);
  color-scheme: dark;
}

* {
  border-radius: 0 !important;
  border: none;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: monospace;
  font-size: 24px;
  line-height: 1.25;
}

input, select, option, svg, svg *, #menu-toggle-btn, #location-text {
  color: var(--theme-color);
}

html {
  background: var(--bg-color);
  margin: auto;
  max-width: 720px;
  min-height: 100vh;
  touch-action: pan-y;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

button, input, select, .number, .bg {
  background: var(--fg-color);
}

button, input, select, .number, #location-text  {
  padding: 8px;
}

button {
  cursor: pointer;
  text-decoration: none;
}

input,
select {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
}

select {
  cursor: pointer;
}

svg, #logo {
  height: 30px;
  vertical-align: bottom;
}

.flex {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.spaced > * {
  margin: 8px;
}

.extend-down {
  margin-top: auto;
}

.hide {
  display: none !important;
}

.group, .max-width {
  width: 100%;
}

.group {
  font-weight: bolder;
  margin: 8px 8px 0;
  text-decoration: underline;
}

.number,
#metric-match {
  width: 80px;
}

.number {
  text-align: center;
}

.text-icon {
  padding-right: 8px;
}

#metric-team {
  width: 100px;
}

::-webkit-outer-spin-button, ::-webkit-inner-spin-button, ::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none !important;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}
