@media (max-width: 360px) {
  * {
    text-align: center;
  }

  .spaced > *,
  #metric-team,
  #metric-match,
  .flex button:only-child {
    width: 100% !important;
  }

  .spaced .flex > * {
    flex: auto;
  }

  #location-text {
    display: none;
  }
}

* {
  border-radius: 0 !important;
  border: none;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: monospace;
  font-size: 24px;
  line-height: 1.25;
}

html {
  --bg-color: #000;
  --blue: #2196f3;
  --fg-color: rgba(127, 127, 127, 0.2);
  --red: #f44336;
  --text-color: #fff;
  --theme-color: var(--red);
  --outer-gap: 12px;
  --inner-gap: 8px;
  background: var(--bg-color);
  color-scheme: dark;
  margin: auto;
  max-width: 720px;
  touch-action: pan-y;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

input,
select,
option,
path,
#menu-toggle-btn,
#location-text {
  color: var(--theme-color);
}

button,
input,
select,
.number,
.bg {
  background: var(--fg-color);
}

button,
input,
select,
.number,
#location-text {
  padding: var(--inner-gap);
}

button {
  cursor: pointer;
  text-decoration: none;
}

input,
select {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
}

select {
  cursor: pointer;
}

svg {
  height: 30px;
  vertical-align: bottom;
}

#logo {
  height: 30px;
  padding-right: 8px;
  vertical-align: bottom;
}

.flex {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.spaced {
  gap: var(--outer-gap);
  padding: var(--outer-gap);
}

.extend-down {
  margin-top: auto;
}

.extend-bg {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: calc(50vw - 50% + var(--outer-gap));
  padding-right: calc(50vw - 50% + var(--outer-gap));
}

.hide {
  display: none !important;
}

.group,
.max-width {
  width: 100%;
}

.group {
  font-weight: bolder;
  text-decoration: underline;
}

.group:not(:first-child) {
  padding-top: var(--outer-gap);
}

.number, #metric-match {
  width: 80px;
}

.number {
  text-align: center;
}

.text-icon {
  padding-right: 8px;
}

.star {
  padding: 8px 6px;
}

#metric-team {
  width: 100px;
}

::-webkit-outer-spin-button,
::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none !important;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}
